@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* =================================================================== 
 * # default
 *
 * ------------------------------------------------------------------- */
html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-color:#222;
}
body {
  padding-top: 70px;
}
/* =================================================================== 
 * # navbar
 *
 * ------------------------------------------------------------------- */
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.text-hidden {
  display: none;
}
/* =================================================================== 
 * # banner
 *
 * ------------------------------------------------------------------- */
/* =================================================================== 
 * # skillbar
 *
 * ------------------------------------------------------------------- */
 .wrapper {
  top: 37%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
 .skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.skillbar-bar {
  height: 3px;
  width: 0px;
  background: #06d7a0 ;
  transition-property: width, background-color;
}

.skillbar-title {
  color: #323232;
  font-size: 16px;
  font-weight: 600;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
/* =================================================================== 
 * # carousel
 *
 * ------------------------------------------------------------------- */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px black;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
/* =================================================================== 
 * # jumbotron
 *
 * ------------------------------------------------------------------- */
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
/* =================================================================== 
 * # padding
 *
 * ------------------------------------------------------------------- */
.padding {
  padding-bottom: 2rem;
}
/* =================================================================== 
 * # intro
 *
 * ------------------------------------------------------------------- */
.about {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.about hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
/* =================================================================== 
 * # icons
 *
 * ------------------------------------------------------------------- */
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
/* =================================================================== 
 * # gif
 *
 * ------------------------------------------------------------------- */
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
/* =================================================================== 
 * # social icons
 *
 * ------------------------------------------------------------------- */
.social a {
  font-size: 4.5em;
  padding: 1rem;
  margin: 3rem;
}
.fa-linkedin {
}
.fa-instagram {
}
.fa-whatsapp {
}
.fa-envelope {
}
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-whatsapp:hover,
.fa-envelope:hover {
  color: #d5d5d5;
}
/* =================================================================== 
 * # footer
 *
 * ------------------------------------------------------------------- */
footer {
  background-color: #ffffff;
  color: d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #06d7a0;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
/* =================================================================== 
 * # timeline
 *
 * ------------------------------------------------------------------- */
.card {
  border: 0px solid rgba(0,0,0,.125);
}
.timeline {
  display: grid;
  grid-template-columns: .25rem 1fr;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  list-style: none
}
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1/span 20;
  background: #f8f7fa
}
.timeline li {
  grid-column: 2;
  margin-inline:1.5rem;
  grid-row: span 2;
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content
}
.timeline li:not(:last-child) {
  margin-bottom: 2rem
}
.timeline li .date {
  height: 3rem;
  margin-inline:-1.5rem;
  text-align: center;
  color: #fff;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: 1.5rem 0 0 1.5rem
}
.timeline li .date::before {
  content: "";
  width: 1.8rem;
  aspect-ratio: 1;
  background: #f8f7fa;
  position: absolute;
  top: 100%;
  -webkit-clip-path: polygon(0 0,100% 0,0 100%);
  clip-path: polygon(0 0,100% 0,0 100%);
  right: 0
}
.timeline li .date::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #06d7a0;
  border-radius: 15px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  right: calc(100% + 2rem + .125rem)
}
.timeline li .title {
  position: relative;
  padding-inline:1.5rem;overflow: hidden;
  -webkit-padding-before: 1.5rem;
  padding-block-start:1.5rem;-webkit-padding-after: 1rem;
  padding-block-end:1rem;font-weight: 500
}
.timeline li .title::before {
  bottom: calc(100% + .125rem)
}
.timeline li .descr {
  position: relative;
  padding-inline:1.5rem;-webkit-padding-after: 1.5rem;
  padding-block-end:1.5rem;font-weight: 300
}
.timeline li .descr::before {
  z-index: -1;
  bottom: .25rem
}
@media (min-width: 40rem) {
  .timeline {
      grid-template-columns:1fr .25rem 1fr
  }
  .timeline::before {
      grid-column: 2
  }
  .timeline li:nth-child(odd) {
      grid-column: 1
  }
  .timeline li:nth-child(odd) .date {
      border-radius: 0 1.5rem 1.5rem 0
  }
  .timeline li:nth-child(odd) .date::before {
      -webkit-clip-path: polygon(0 0,100% 0,100% 100%);
      clip-path: polygon(0 0,100% 0,100% 100%);
      left: 0
  }
  .timeline li:nth-child(odd) .date::after {
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      left: calc(100% + 2rem + .125rem)
  }
  .timeline li:nth-child(even) {
      grid-column: 3
  }
  .timeline li:nth-child(2) {
      grid-row: 2/4
  }
}
.timeline .timeline-date {
  width: 54px;
  height: 85px;
  display: inline-block;
  padding: 8px;
  -webkit-clip-path: polygon(0 0,100% 0,100% 80%,50% 100%,0 80%);
  clip-path: polygon(0 0,100% 0,100% 80%,50% 100%,0 80%);
  z-index: 1
}
h5, h6 {
  color:#201f26 !important;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  .card-body {
    padding: 0rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
  top: 45%;
  }
  .carousel-caption h1 {
  font-size: 350%;
  }
  .carousel-caption h3 {
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
  }
  .carousel-caption .btn {
  font-size: 95%;
  padding:8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .text-hidden {
    display: block;
  }
  lord-icon {
    display: none;
  }
  .card h3 {
    font-size: 14px;
  }
  .card-body {
    padding: 0rem;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
  top: 40;
  }
  .carousel-caption h1 {
  font-size: 250%;
  }
  .carousel-caption h3 {
  font-size: 110%;
  }
  .carousel-caption .btn {
  font-size: 90%;
  padding:4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  .text-hidden {
    display: block;
  }
  lord-icon {
    display: none;
  }
  .card {
    width: 235px;
  }
  .card-body {
    padding: 0rem;
    font-size: 14px;
  }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








